body {
    background-color: #070707;
}

/* color: #606371 !important; */





:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 100px;
    position: fixed;
    height: var(--navbar-height);
    background-color: #070707;
    /* background-color: var(--navbar-bg-color); */
    left: 0;
    right: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
}

.navbar-container {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link{
    color: white;
    text-decoration: none;
    display: flex;
    font-weight:700;
    align-items: center;
    font-size: large;
}


.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight:700;
    align-items: center;
    font-size: large;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 900;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    /* background-color: var(--navbar-bg-contrast); */
}

.logo {
    height: 90px;
    width: 90px;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 3.1px;
    background-color: var(--navbar-text-color);
    border-radius: 50px
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    /* background-color: var(--navbar-bg-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

@media screen and (min-width: 700px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}



.welcome-content .title {
    font-size: 5rem;
    font-weight:bolder;
    color: #FF004D;
    /* font-family: 'Poppins'; */
}

.welcome-content .subtitle{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.2srem;
}


.brand-text{
    font-weight:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.main{
    position: relative;
}

.div-1{
    position: fixed;
    z-index: 1;
}

.div-2{
    position: absolute;
    z-index: 0;
    top: 100px;
}


.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#footer-section{
    position: fixed;
    /* background-color: blue; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer-section .footer{
    position: fixed;
    top: 60%;
}

#footer-section .footer .footer__title{
    font-size: 3rem;
    font-weight:bolder;
    color: #FF004D;
}

#welcome-section{
    position: sticky;
    /* background-color: rgb(12, 12, 244); */
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    margin-bottom: 200%;
    margin-top: 0px;
    top: 0;
}

#welcome-section .welcome-content{
    position: sticky;
    top: 40%;
    left: 20%;
}

.welcome-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 550px) {
    #welcome-section .welcome-content{
        position: sticky;
        top: 50%;
        left: 20%;
    }
    .welcome-content .title{
        font-size: 8vw;
        font-weight: 900;
    }
}